<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/lecture 11-oop part 1/src/lecture2_Access_Modifiers/Protected_Modifier.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lecture2_Access_Modifiers.Protected_Modifier"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lecture 11-oop part 1"/>
</launchConfiguration>
